extends layout 
 
block content 
  h1= title 
 
  form(id='phonesForm', action="/resource/phones", method="POST") 
    div.form-group 
        label.phonesAttr(for='pName') phones type 
        input#pName(type='text', name='pName') 
    div.form-group 
        label.phonesAttr(for='pPixels') phones pPixels 
        input#pPixels(type='text', name='pPixels') 
    div.form-group 
        label.phonesAttr(for='pCost') phones pCost 
        input#pCost(type='number', name='pCost') 
    input(type="submit") 
 
  script. 
    document.forms['phonesForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 
    button(class="btn btn-danger m-2" onclick="createOnid()") Create 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the phones collection 
      window.location.href='/phoness' 
    } 
  script. 
    function createOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      // Don't need a body for the delete 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/phones' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 