extends layout 
 
block content 
  h1= title 
 
  - let phonesid = toShow._id 
  - let pName = toShow.pName 
  - let pPixels = toShow.pPixels
  - let pCost = toShow.pCost
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{phonesid} 
  - let actionid = "/resource/phones/" + phonesid 
  form(id='phonesForm', action= actionid, method="PUT") 
    div.form-group 
        label.phonesAttr(for='pName') phones type 
        input#pName(type='text', name='pName', value= pName ) 
    div.form-group 
        label.phonesAttr(for='pPixels') phones pPixels 
        input#pPixels(type='text', name='pPixels', value= ppCost ) 
    div.form-group 
        label.phonesAttr(for='pCost') phones pCost 
        input#pCost(type='number', name='pCost', value= pPixels ) 
    input(type="submit") 
 
  script. 
    document.forms['phonesForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 